<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenGYM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenGYM.Properties.Settings>
            <setting name="GymName" serializeAs="String">
                <value>نادي اوبن جيم الرياضي</value>
            </setting>
            <setting name="GymDirection" serializeAs="String">
                <value>بنغازي,ليبيا</value>
            </setting>
            <setting name="GymInvoiceNote1" serializeAs="String">
                <value>* يمنع سحب القيمة أو إيقاف الإشتراك</value>
            </setting>
            <setting name="GymInvoiceNote2" serializeAs="String">
                <value>* الحذاء المخصص للنادي إجباري</value>
            </setting>
            <setting name="GymInvoiceNote3" serializeAs="String">
                <value>* يمنع الجري على السير</value>
            </setting>
            <setting name="GymInvoiceNote4" serializeAs="String">
                <value>* عدم إصطحاب الأطفال والاصدقاء</value>
            </setting>
        </OpenGYM.Properties.Settings>
    </applicationSettings>
</configuration>